*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bigraphy > p{
  font-family: Lato, sans-serif;
  line-height: 2 !important;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: justify;
  color: #212529;
  /* word-spacing: 5px; */
}